*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

.header{
	background: radial-gradient(#fff,#7ab6eb);
}

.header .row{
	margin-top: 70px;
}

.menubar{
	display: flex;
	align-items: center;
	border: 1px solid black;
	background-color: black;
}

.menubar ul{
	flex: 1;
	text-align: right;
	color: white;
	display: inline-block;
	list-style-type: none;
	background-color: black;
}

.menubar ul li{
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;
	list-style-type: none;
	background-color: black;
}

.menubar ul li a{
	text-decoration: none;
	color:white;
	background-color: black;
}

.menubar h5{
	color: white;
	margin: 7px 12px;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	background-color: black;
}

.fa{
	background-color: black;
}

.container{
	max-width: 2000px;
	margin: auto;
	padding-left: 250px;
	padding-right: 250px;
}

.navbar{
	display: flex;
	align-items: center;
	height: 80px;
	padding: 20px;
}

nav{
	flex: 1;
	text-align: right;
	display: inline-block;
	list-style-type: none;
}

nav li{
	font-size: 18px;
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
}

nav li a{
	text-decoration: none;
	color: black;
}

nav li a:hover{
	border-bottom: 4px solid #2388de;
}

.navbar a:hover{
	border-bottom: 4px solid #2388de;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col{	
	flex-basis: 50%;
	min-width: 300px;
}

.col img{
	max-width: 100%;
	padding: 50px 0;
}

.col h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}

.btn{
	display: inline-block;
	background: #2388de;
	color: white;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
}

.btn:hover{
	background: #000066;
}